diffusers
transformers
scipy
Django==4.1.2
Flask==2.2.2
Flask-Babel==2.0.0
flywheel==0.5.4
fonttools==4.37.4
gunicorn
uvicorn
whitenoise
google-trans-new==1.1.9
googletrans==4.0.0rc1
torch
gevent
replicate
accelerate
mysql-connector-python
mysql
django-redirect-to-non-www
